.outerDiv {
  height: 500px;
  width: 900px;
  border: 2px solid #eee;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.middle {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.middle > img {
  height: 200px;
}

.middle .detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: initial;
  height: 200px;
}
.middle .detail > * {
  margin: 5px;
}

.description {
  margin: 10px;
}

@media only screen and (max-width: 800px) {
  .outerDiv {
    width: 80%;
    height: 80%;
  }
  .middle {
    flex-direction: column;
  }
}
